<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurant Home || Foodie Club</title>
    {%load static%}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400|Nunito:600,700" rel="stylesheet"> 
    
    <!-- Template Stylesheet -->
    <link href="{% static 'style.css' %}" rel="stylesheet">
    
    <style>
       
        .btn-primary {
            background-color: #1e6905;
            border: none;
        }
        .offcanvas {
            z-index: 10000;
            position: fixed;
        }
        .offcanvas-header {
            margin-top: 10%;
        }
        .items {
            display: flex;
            justify-content: center;
            align-items: start;
            margin-top: 1%;
            padding: 2%;
        }
        .carousel-img{
            width: 100%;
            height: 100vh;
        }
        .cards{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
        .card{
            margin-left: 2%;
            margin-top: 2%;
        }
    </style>
</head>
<body>
    <!-- Nav Bar Start -->
    <div class="navbar navbar-expand-lg bg-light navbar-light">
        <div class="container-fluid">
            <a class="btn btn-primary navbar-brand" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample"><i class="bi bi-list" style="color: white;"></i></a>    
            <a href="/" class="navbar-brand">Foodie <span>Club</span></a>
            <a href="/logout"><button type="button" class="btn btn-primary">
                Logout
            </button></a>
        </div>  
    </div>
    
    <!-- Nav Bar End -->

    <!--Offcanvas Start-->
    
    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
        <div class="offcanvas-header">
            <h3 class="offcanvas-title" id="offcanvasExampleLabel" style="color: rgb(138, 71, 5);">Dashboard</h3>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <div>
                <a href="/res_home/" style="text-decoration: none;"><div class="items"><h5 style="color: rgb(138, 71, 5);">Home</h5></div></a>
                <hr style="margin: auto;">
                <a href="/add_food/" style="text-decoration: none;"><div class="items"><h5 style="color: rgb(138, 71, 5);">Add Food Items</h5></div></a>
                <hr style="margin: auto;">
                <a href="/add_delivery_partner/" style="text-decoration: none;"><div class="items"><h5 style="color: rgb(138, 71, 5);">Add Delivery Partner</h5></div></a>
                <hr style="margin: auto;">
                <a href="/view_orders/" style="text-decoration: none;"><div class="items"><h5 style="color: rgb(138, 71, 5);">View Orders</h5></div></a>
                <hr style="margin: auto;">
                <a href="/check_feedback/" style="text-decoration: none;"><div class="items"><h5 style="color: rgb(138, 71, 5);">Check Feedback</h5></div></a>
            </div> 
        </div>        
    </div>
    <!--Offcanvas Ends-->

    <!-- Carousel Start -->
    <div class="carousel">
        <div class="container-fluid">
            <div class="owl-carousel">
                <div class="carousel-item">
                    <div class="carousel-img">
                        <img src="{{res_name.restaurant_picture.url}}" alt="Image">
                    </div>
                    <div class="carousel-text">
                        <br>
                        <h1><span>Welcome</span> {{res_name.res_name}}!!</h1>
                        <p>
                            <i class="bi bi-geo"></i>&nbsp;&nbsp;{{res_name.address}}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Carousel End -->

    <!--Our Menu Start-->
    <br>
    <div class="best-seller">
        <div class="container">
            <div class="section-header text-center">
                <h2>Our Menu</h2>
            </div>
            <div class="cards">
                {% for food in foods %}
                <div class="card border-0" style="width: 22rem;">
                    <div class="best-seller-item" style="margin-bottom: 0%;">
                        <div class="best-seller-img">
                            <img src="{{food.food_picture.url}}" alt="Image" height="300" width="200" style="object-fit: cover;object-position: center;">
                        </div>
                        <div class="best-seller-text">
                            <h2>{{food.food_name}}</h2>
                            <p>{{food.food_description}}</p>
                            <br><p><b><i class="bi bi-currency-rupee"></i>{{food.food_price}}</b></p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <!--Our Menu End-->


    <!-- Footer Start -->
    <div class="footer">
        <div class="copyright">
            <div class="container">
                <p>Copyright &copy; <a href="#">Foodie Club</a>|| All Right Reserved.</p>
            </div>
        </div>
    </div>
    <!-- Footer End -->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

    
</body>
</html>